<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdabao.springcloud.service.dao.XiaobaoDao">
    <select id="askMe" resultType="map">
        select * from xiaobao
    </select>

</mapper>
